.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-size: cover;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card-container {
  width: 200px;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}